/*
 
	this selector styles the body element - the main container - using the
	hsl color format: https://www.w3schools.com/colors/colors_hsl.asp
 
*/

body {
	background-color: hsl(323, 100%, 50%);
	max-width: 80%;
	
/*
	margin: 6rem auto 2rem auto;
*/

/*
	margin-left: auto;
	margin-right: auto;
	margin-top: 6rem;
	margin-bottom: 2rem;
*/

}


img {
	width: 20rem;
	max-width: 100%;
}


header,main {
	padding: 2rem;
}


header {
	background-color: hsl(0, 0%, 100%);
}

main {
	background-color: hsl(55, 100%, 85%);
}

main p {
	max-width: 80ch;
}
