@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
	background-color: #ddeeff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

div {
	border: 2px solid black;
	background-color: white;
	margin: 2rem auto;
	width: 80%;
	max-width: 100ch;
}

img {
	max-width: 100%;
}
