/*
google fonts - you can load multiple fonts in a single line to save time

this _must_ be the first line in your CSS

to get this code you need to choose the "get embed code" button, then select
the @import button

remove the <style> and </style> tags - those are HTML and don't belong in a CSS file
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/*
a thin visible border
a different background color than the <body> and each other
rounded corners
enough white space between the text and border to be easily readable. 
the <h1> and <p> tags need to be in different Google Fonts

*/

body {
    font-family: "Inter", sans-serif;
}

/* both boxes will share these properties */
.box {
    border: 4px solid #6c5958;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.box01 {
    background-color: pink;
}

.box02 {
    background-color: lightblue;
}

h1 {
    font-family: "Inter",sans-serif;
}

p {
    font-family: "Playfair Display", serif;
}

