/* hard reset of ALL margins and padding for every HTML
 * element. You have to add them ALL back by hand, but this
 * is worth it to me....

 * it also sets all elements to use the vastly superior
 * border-box setting to size elements compared to the
 * default content-box
 */
*,*::before,*::after {
	margin: 0;
	padding: 10;
	box-sizing: border-box;
}


/* set a background color as a starting point and use
 * Helvetica if it's available, Arial if isn't, and any
 * sans-serif one if necessary */
body {
	font-family: "Helvetica","Arial",sans-serif;
	display: flex;
	flex-direction: column;
}

/* set initial values for bottom margins */
h1,h2,h3,h4,h5,h6,p,li,ul {
	margin-bottom: 1rem;
}

/* these two lines tell images to always be as wide as
 * their container, but to never be wider than their actual
 * pixel value so avoid stretching */
img {
	width: 100%;
	max-width: 100%;
}


/* you can apply styles to every <section> tag by using the  element name selector */
section {
	/* this padding has been cranked up to make sure it shows up past the header element */
	/* there are much more elegant ways to do this... */
	padding: 10rem; 

	/* set each to always be 100% of the height of the screen, to act like "pages" */
	height: 100vh;
}


/* each section gets its own background color based on their IDs */
#home {
	background-color: hsl(60,100%,80%);
}

#about {
	background-color: hsl(300,100%,80%);
}

#contact {
	background-color: hsl(180,100%,80%);
}



/* the ul that holds the links  */
nav ul {
	/* hide the bulleted list discs */
	list-style: none;

	/* make into a flex container */
	display: flex;

	/* spread out the items along the axis */
	justify-content: space-between;
}

/* the links inside the list items */
nav ul li a {
	/* add padding to make clickable area larger */
	padding: 12rem;
	color: hsl(0,50%,90%);
}

nav ul li a:hover,
nav ul li a.current {
	/* hover state to make them stand out */
	background-color: hsl(0,100%,70%);
	border: 5px solid black;
}


/* header, not head */
header {
	
	/* add some space around the contents */
	padding: 1rem;

	/* color and background */
	background-color: hsl(0,0%,30%);

	/* tell this to be sticky - always in the same place on
	 * screen - and where that place should be */
	position: sticky;
	top: 0;

	/* another flex container */
	display: flex;
	/* this allows for max flexibility for displaying elements  along any axis */
	justify-content: space-between;
}

