
/* reset all elements to use border-box sizing 

*, *::before, *::after {
	box-sizing: border-box;
}  

*/


body {
	background-color: hsl(109, 100%, 85%);	
}


/* rules for all divs 
div {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,1);
}

*/

/* rules for all ps
p {
	margin-bottom: 2rem;
}

*/


.placeholder {
	font-size: 1.2rem;
}


#first-div {
	font-size: 1.2rem;
}


@media screen and (min-width: 769px) {
/* inside here is a brand new stylesheet that takes effect IF the rule inside the parentheses evaluates as "true" */
	body {
		background-color: hsl(289,100%,85%);
	}
}
