/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* make the body full height and width, and use flexbox to center the weather container */
body {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}


/* the main weather container */
.weather {
	border: 3px solid black;
	font-size: 8rem;
	font-weight: bold;
	font-family: sans-serif;
	padding: 2rem;
}

/* the four styles based on temperature */
.hot {
	background-color: red;
}

.warm {
	background-color: pink;
}

.chilly {
	background: lightblue;
}

.cold {
	background-color: blue;
}

