/* reset all elements to use border-box sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}  

/* turn off all the margins and padding, set the margins and padding
 * to 0, give the page a backgroud color, and tell the <body> to
 * always be 100% of the height of the viewport
 */
body {
	margin: 0;
	padding: 0;
	background-color: hsl(0,100%,92%);

	/* vertical AND horizontal centering */
	/*
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	*/
	

}


/* this will affect all <div> elements */
div {
	background-color: hsl(0,0%,100%);	
	border: 2px solid hsl(0,0%,50%);	
	font-weight: bold;
	font-size: 2rem;
	padding: 1rem;
	margin: 1rem;
}


/* each separate div with its own colors */
.div1 {
	color: hsl(20,90%,40%);
}

.div2 {
	color: hsl(40,90%,40%);
}

.div3 {
	color: hsl(60,90%,40%);
}

.div4 {
	color: hsl(80,90%,40%);
}

.div5 {
	color: hsl(100,90%,40%);
}
