@import url('https://fonts.googleapis.com/css2?family=Eater&family=Henny+Penny&display=swap');

/* this is a css reset - it fixes a weird box model problem */
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* apply to all divs */

div {
	background: cyan;
	color: bold;
	font-size: 3rem;
	margin: 0 2rem 10rem 2rem;
	width: 20rem;
}


/* select each div */

#one {
	transition: all 6s .5s ease-in-out;		
	font-family: "Eater";
	color: magenta;	
}

/* the hover version */
#one:hover {
	font-size: 8rem;
	transform: rotate(900deg);
	box-shadow: 20px 39px 50px 0px rgba(0,0,0,0.75);
	font-family: "Henny Penny";
	background: orange;
}






#two {
	transition: all 6s .5s ease-in-out;		
}


#two:hover {
	width: 6rem;
}


#three {
		
}
