/* hard reset of ALL margins and padding for every HTML
 * element. You have to add them ALL back by hand, but this
 * is worth it to me....

 * it also sets all elements to use the vastly superior
 * border-box setting to size elements compared to the
 * default content-box
 */
*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* set a background color as a starting point and use
 * Helvetica if it's available, Arial if isn't, and any
 * sans-serif one if necessary */
body {
	font-family: "Helvetica","Arial",sans-serif;
	background-color: hsl(0, 100%, 100%); 

	/* make the body a flex container for alignment purposes */
	display: flex;
	flex-direction: column;
}


/* header, _NOT_ head */
header {
	
	/* add some space around the contents */
	padding: 1rem;

	/* background color */
	background-color: hsl(0, 0%, 60%); 
	/* tell this to be sticky - always in the same place on
	 * screen - and where that place should be */
	position: sticky;
	top: 0;

	/* another flex container...? */

	display: flex;
	justify-content: space-between;

}

/* the ul that holds the links  */
nav ul {
	list-style:none;
	display: flex;
}

/* the links inside the list items */
nav ul li a {
	/* add padding to make clickable area larger */
	padding: 1rem;
}

/* the hover state */
nav ul li a:hover {
	/* hover state to make them stand out */
	color: hsl(250,100%,80%);
}


/* you can apply styles to every <section> tag by using the  element name selector */
section {
	/* this padding has been cranked up to make sure it shows up past the header element */
	/* there are much more elegant ways to do this... */
	padding: 10rem; 

	/* set each to always be 100% of the height of the screen, to act like "pages" */
	height: 100vh;
}


/* each section can be styled individually */
#home {
}

#about {
}

#contact {
}

